@import "header.css";
@import "root.css";
@import "media.css";

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.active-page {
    color: black;
}

.unactive-page {
    color: rgba(0, 0, 0, .5);
}

.color-text {
    color: #99534A;
    padding-bottom: 20px;
}

.navigation__content p:hover {
    color: #99534A;
    cursor: pointer;
}

.main-content__navigation {
    margin-left: 52px;
    max-width: 200px;
    margin-top: -4vh;
}

.main-content__navigation p {
    font-size: 20px;
    padding: 7px 0;
}

.navigation__title {
    display: flex;
    width: 150px;
    gap: 50px;
    padding: 7px 15px;
    background-color: white;
}

.navigation__title img {
    width: 20px;
    transform: rotate(180deg);
}

.navigation__title img:hover {
    cursor: pointer;
}

.navigation__title img.rotated {
    transform: rotate(0deg);
}

.navigation__content {
    opacity: 1;
    padding: 0 15px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    pointer-events: all;
}

.navigation__content.active {
    display: block;
    opacity: 0;
    transform: translateY(-10px); /* Начальное смещение вверх */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    pointer-events: none;
}

.main-content__content {
    width: 890px;
    /* что-то одно подрегулировать */
    /* margin-right: 350px;  */
    margin-right: 20vw;
    /* margin-top: -12.2vh; */
    margin-top: -4vh;
    margin-bottom: 50px;
}

.content__text {
    background-color: white;
    padding: 25px 17px 0px 0px;
}

.content__text p {
    padding-left: 20px; 
}

.text-footer {
    padding-left: 0 !important;
    padding-bottom: 17px;
}

.main-content__content h3 {
    font-size: 40px;
    padding: 20px 40px;
    background-color: white;
    margin-bottom: 15px;
}

.main-content__content p, li {
    font-size: 16px;
}

.main-content__content ul {
    color: black;
}

.main-image {
    display: block;
    margin-left: 11%;
    padding-bottom: 17px;
    width: 625px;
}