footer {
    padding: 0 5%;
    background: #393939;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer p {
    padding: 20px 0;
    font-size: 1.03vw;
}

footer > p:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 20px;
}

footer img {
    height: 41px;
}
