main {
    padding: 50px 180px;
    display: flex;
    justify-content: center;
    /* margin-bottom: 3rem; */  /* больший отступ под карточкой */
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 882px;
}

/* .main-video {
    position: relative;
} */

