main {
    flex: 1;
    /* padding: 50px 180px; */
    padding: 3rem 9rem;
    display: flex;
    justify-content: center;
    /* margin-bottom: 3rem; */  /* больший отступ под карточкой */
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 882px;
}
