@media (max-width: 1550px)
{
    .main-content__content {
        margin-right: 10vw !important;
    }
}

/* @media (max-width: 1300px) 
{
    .main-content__content {
        margin-right: 10vw !important;
    }
} */

@media (max-width: 1200px) 
{
    .main-content {
        flex-direction: column !important;
        gap: 75px !important;
    }
    .main-content__content {
        margin-left: 52px !important;
    }
}

@media (max-width: 900px)
{
    .main-content__navigation {
        margin-top: -3vh !important;
    }

    .content__text {
        max-width: 705px !important;
    }

    .main-image {
        margin-left: 1% !important;
    }

    h3 {
        max-width: 642px !important;
    }
}

@media (max-width: 700px)
{
    .main-content__content {
        margin-left: 0 !important;
    }
    
}