@media (max-width: 1550px)
{
    .main-content__content {
        margin-right: 10vw !important;
    }
}

@media (max-width: 1300px) 
{
    .main-content__content {
        margin-right: 5vw !important;
    }
}

@media (max-width: 1200px) 
{
    .main-content {
        flex-direction: column !important;
        gap: 75px !important;
    }
    .main-content__content {
        margin-left: 52px !important;
    }
}

@media (max-width: 900px)
{
    .main-content__navigation {
        margin-top: -3vh !important;
    }
}